<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
    <conversionRule conversionWord="TraceIdConvert" converterClass="com.yzd.logging.logbackExt.TraceIdConvert" />
    <springProfile name="dev">
        <!--scope="context"会将变量赋加日志中-->
        <!--<springProperty scope="context" name="filePath" defaultValue="target/log" source="log.filePath.value"/>-->
        <!--<springProperty scope="local" name="filePath" defaultValue="target/log" source="log.filePath.value"/>-->
        <!--理论上只有开发环境才会输出控制台的日志，测试与生产环境是不输出的-->
        <!--base.xml包含一个控制台的输出-->
        <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
        <property name="filePath" value="/data/logs/com_yzd_dubbo_service_provider" />
    </springProfile>
    <springProfile name="!dev">
        <!--scope="context"会将变量赋加日志中-->
        <!--<springProperty scope="context" name="filePath" defaultValue="log" source="log.filePath.value"/>-->
        <!--<springProperty scope="local" name="filePath" defaultValue="log" source="log.filePath.value"/>-->
        <property name="filePath" value="log" />
    </springProfile>
    <property name="fileName" value="com.yzd.dubbo.service.provider" />
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
    <!--[#%d{yyyy-MM-dd HH:mm:ss.SSS}#]的作用：通过logstash在日志收集,方便Logstash进行日志分析-->
    <!--<property name="PATTERN" value="[TRACE_ID:%X{TRACE_ID}][#%d{yyyy-MM-dd HH:mm:ss.SSS}#]【%level】%logger#]%thread - %msg%n" />-->
    <!--<property name="PATTERN" value="[TRACE_ID:%TraceIdConvert][#%d{yyyy-MM-dd HH:mm:ss.SSS}#]【%level】%logger#]%thread - %msg%n" />-->
    <property name="PATTERN" value="[ELK=][%TraceIdConvert]-[%d{yyyy-MM-dd HH:mm:ss.SSS}]-[%level]-[%logger]-[thread=%thread]%n%msg|%n" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${filePath}/${fileName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${filePath}/${fileName}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>　　　　
        <encoder>　　　　　　　　　　　　　　
            <pattern>${PATTERN}</pattern>
            <charset>utf8</charset>　　　　　　　　　　　　
        </encoder>
    </appender>
    <root level="INFO">
        <!--理论上只有开发环境才会输出控制台的日志，测试与生产环境是不输出的-->
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOG_FILE"/>
    </root>
    <!--定向配置-->
    <logger name="springboot.elk.logback.web" level="DEBUG"/>
</configuration>